<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h2 class="card-title text-center mb-4">{{ isEditMode ? 'Editar Receita' : 'Criar Nova Receita' }}</h2>
          <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" novalidate>
            
            <div class="mb-3">
              <label for="name" class="form-label">Nome da Receita</label>
              <input type="text" id="name" formControlName="name" class="form-control" 
                     [class.is-invalid]="recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched">
              <div *ngIf="recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched" class="invalid-feedback">
                <div *ngIf="recipeForm.get('name')?.errors?.['required']">O nome é obrigatório.</div>
                <div *ngIf="recipeForm.get('name')?.errors?.['minlength']">O nome deve ter pelo menos 3 caracteres.</div>
              </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Descrição</label>
                <textarea id="description" formControlName="description" class="form-control" rows="3"
                          [class.is-invalid]="recipeForm.get('description')?.invalid && recipeForm.get('description')?.touched"></textarea>
                <div *ngIf="recipeForm.get('description')?.invalid && recipeForm.get('description')?.touched" class="invalid-feedback">
                  A descrição é obrigatória.
                </div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
              <button type="button" class="btn btn-secondary" routerLink="/recipes">Cancelar</button>
              <button type="submit" [disabled]="recipeForm.invalid" class="btn btn-primary">
                <i class="bi bi-check-circle me-1"></i>
                {{ isEditMode ? 'Atualizar Receita' : 'Salvar Receita' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>